.navbar-area{
    background-color: #111E6C;
    background-size: cover;
    width:100vw;
    position: sticky;
    overflow-x: hidden;
    top: 0;
    
    
}
.text-small{
    font-size: 12px;
}
.logo a:hover{
    color: #1E6DBA;
    transition: all ease-in-out 1s;
    font-weight: bold;
}
.linkText a:hover{
    color: #1E6DBA !important;
    transition: all ease-in-out 1s;
    font-weight: bold;
}
.linkText a{
    color: antiquewhite !important;
    padding-right: 60px !important ;
}
.logo > a{
    color:antiquewhite;
    font-size: 20px;
    font-weight: bold;

}
.logo{
    color: antiquewhite;
}

.logo span{
    padding-left: 30px;
}


    @media screen and (max-width:216px){
        .navbar-area{
            /* width: 50rem !important; */
            overflow-wrap: break-word !important;
            background-size: cover !important;
        }

        .logo > a{
            color:antiquewhite;
            font-size: 15px;
            font-weight: bold;
        
        }
    }