.contact-btn{
    background-color: #111E6C !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
   font-weight: 500;
}
.contact-btn:hover{
    /* border: 2px white solid !important; */
    background-color: #1A569C !important;
    transition: all ease-in-out 1s;
}


.push-btn a{
    float: inline-end !important; 
    position: relative;
}
.push-btn a i:hover{
    background: #111E6C !important;
    color: gray;
}

.certificate{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    border-radius: 5px;
}



