.footer{
    background-color: #111E6C;
    background-size: cover;
    width:100vw;
    height: 75px !important;
    /* position: sticky; */
    /* overflow-x: hidden;
    top: 0; */
    
    
}
.footer a:hover{
    color: #4c64f1;
    font-size: larger !important;
    transition: all ease-in-out 1s;
}